In [1]:
import pandas as pd
import numpy as np
import random
import sys
import pickle
import csv
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("./data/tweet_data.csv")

data.head()

,ID,RETWEET,TEXT
0,786204978629185536,False,PAY TO PLAY POLITICS. #CrookedHillary [URL]
1,786201435486781440,False,Very little pick-up by the dishonest media of ...
2,786189446274248704,False,Crooked Hillary Clinton likes to talk about th...
3,786054986534969344,False,Thank you Florida- a MOVEMENT that has never b...
4,786007502639038464,False,Join me Thursday in Florida &amp; Ohio!West Pa...